#main {
  text-align: center;
}

#mainTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

.svgContainer {
  width: 90%;
  margin: auto;
}

#usMap {
  animation: slideIn 1.5s ease;
  transition: 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50px);
  }
}

#ALSVG {
  width: 80%;
  margin: auto;
  animation: slideIn 1.5s ease;
}

.state {
  fill: rgb(172, 172, 172);
}

.state:hover {
  opacity: 0.5;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.stateOutline {
  fill: #ffffff;
  stroke: rgb(248, 248, 248);
  stroke-width: 236;
  stroke-linejoin: round;
  fill-opacity: 1;
}

.counties {
  stroke: #ffffff;
  stroke-width: 236;
  stroke-linejoin: round;
  fill: #98a0ec;
  fill-opacity: 1;
}

.counties:hover {
  fill: #98a0ec80;
}

#infoBox {
  display: none;
  margin: auto;
  padding: 2rem;
}

#AL {
  fill: rgb(252, 77, 77);
}
